.chat {

    p,
    li {
        margin: 10px 0;
    }

    li {
        list-style: disc;
        margin-left: 20px;
    }

    .message {
        padding: 15px;


        &.user {
            background-color: #242327;
            align-self: flex-end;
            max-width: 80%;
            border-radius: 10px;
        }
    }

}