@import "tailwindcss";

body {
    background: rgb(43, 42, 42);
    color: white;
}

.header {
    /* background: rgba(0, 0, 0, 0); */
    /* Fully transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Safari support */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-tittle {
    font-weight: 700;
    background: linear-gradient(to right, rgb(39, 209, 178), rgb(152, 39, 209));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;

}

.left .orbital {
    animation: 50s linear infinite rotateOrbital;
    z-index: -1;
}



.bg {
    background-image: url(/bg.png);
    opacity: 0.5;
    width: 200%;
    height: 100%;
    background-size: auto 100%;
    animation: 5s ease-in-out infinite alternate bgAnimate;
}

.bot {
    animation: 2s ease-in-out infinite alternate botAnimate;
}


@keyframes rotateOrbital {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(60deg);
    }
}

@keyframes botAnimate {
    0% {
        transform: scale(1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(-5deg);
    }
}

@keyframes bgAnimate {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-50%);
    }
}